{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client List</title>
    {% include 'head.html' %}
   
</head>
<body>
        <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Active</th>
                  <th>Industry</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>User</th>
              </thead>
              {{ forloop.counter }}
                <tr>
                  {% for client in clients %}
                  <td scope="col">{{ forloop.counter }}</td>
                   <td>{{ client.name }}</td>   
                  <td>{{ client.description }}</td>
                  <td scope="col">{% if client.active %}active{% else %}active{% endif %}</td>
                  <td>{{ client.industry.name }}</td>
                  <td>{{ client.email }}</td>
                  <td>{{ client.phone }}</td>
                  <td>{{ client.user }}</td>
                </tr>
              {% endfor %}

         </table>

        
</body>
</html>