{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Industry List</title>
    {% include 'head.html' %}
</head>
<body>
  {% block navbar %}
  {% include 'navbar.html' %}
{% endblock  %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for industry in industries %}
        <tr>
          <td scope="col">{{ forloop.counter }}</td>
          <td>{{ industry.name }}</td>
          <td>{{ industry.description }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</body>
</html>