<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment List</title>
    {% include 'head.html'%}
</head>
<body>
  {% block navbar %}
  {% include 'navbar.html' %}
{% endblock  %}
      <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th>Name</th>
                  <th>Cost</th>
                  <th>Bill</th>
                  <th>Client</th>
                  <th>project</th>
                  <th>task</th>
                  <th>amount</th>  
              </thead>
              {{ forloop.counter }}
                <tr>
                  {% for payment in payments %}
                  <td scope="col">{{ forloop.counter }}</td>
                  <td>{{ payment.name }}</td>
                  <td>{{ payment.cost }}</td>
                  <td>{{ payment.bill}}</td>
                  <td>{{ payment.client }}</td>
                  <td>{{ payment.project}}</td>
                  <td>{{ payment.task }}</td>
                  <td>{{ payment.amount }}</td>    
                </tr>
              {% endfor %}

         </table>
</body>
</html>